<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>605062338358-5suq4eomsv9l5udkv6j570hvificnmmj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.605062338358-5suq4eomsv9l5udkv6j570hvificnmmj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>605062338358-ovae4qnmc6l53qoifcpqv0l2qhnu2t4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQOC-V1q4CbvkMBrm_8ALSQzg47OWWf1c</string>
	<key>GCM_SENDER_ID</key>
	<string>605062338358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>youxel.adam.Motivay</string>
	<key>PROJECT_ID</key>
	<string>motivay-66762</string>
	<key>STORAGE_BUCKET</key>
	<string>motivay-66762.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:605062338358:ios:f05b72a540a7a346618597</string>
	<key>DATABASE_URL</key>
	<string>https://motivay-66762.firebaseio.com</string>
</dict>
</plist>